<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag('bliss-anniv.jpg') %>
  </div>
  <div class="large-6 columns">
    <h3>Accommodations</h3>
    <!-- <p>
      We have reserved a small block of rooms at the Hotel UMass for the evening of Saturday, October 18. For a discounted rate of $149 per room per night (plus applicable fees and taxes), please mention group code LNWEDC.
    </p> -->
    <p>
      <a href="http://www.umasshotel.com/" target="_blank">Hotel UMass</a> <br>
      1 Campus Center Way <br> 
      Amherst, MA 01003
    </p>
    <p>
      <a href="http://www.lordjefferyinn.com/" target="_blank">Lord Jeffery Inn</a> (1.9 miles from Hotel UMass) <br>
      30Boltwood Ave. <br>
      Amherst, MA 01002
    </p>
    <p>
      <a href="http://www.marriott.com/hotels/travel/bdlhd-courtyard-hadley-amherst/" target="_blank">Courtyard Marriott</a> (2.4 miles from Hotel UMass) <br>
      423 Russell St. <br>
      Hadley, MA 01035
    </p>
    <p>
      <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/hadley/hdlma/hoteldetail" target="_blank">Holiday Inn Express and Suites</a> (3.6 miles from Hotel UMass) <br>
      400 Russell St. <br>
      Hadley, MA 01035
    </p>
    <p>
      <a href="http://www.redroof.com/property/South-Deerfield/MA/01373/Hotels-close-to-Yankee-Candle-Flagship-Store-I-91-US-5/RRI289/" target="_blank">Red Roof Inn</a> (8.9 miles from Hotel UMass) <br>
      9 Greenfield Rd. <br>
      South Deerfield, MA 01373
    </p>
  </div>
</div>
