<div class="row">
  <div class="large-6 columns">
    <div class="image">
      <%= image_tag('beer-n-pumpkins.jpg') %>
    </div>
  </div>
  <div class="large-6 columns">
    <h3>Getting to Amherst</h3>
    <p>
      Amherst is located within driving distance of Bradley International Airport in Windsor Locks, CT (one hour drive) and Logan International Airport in Boston, MA (two hour drive). We recommend either renting a car or taking <a href="http://www.valleytransporter.com/" target="_blank">Valley Transporter</a> from your airport of choice to campus.
    </p>
    <p>
      It is also possible to take a train to Amherst from New York, but please note that only <a href="http://www.amtrak.com/servlet/Satellite?pagename=am/AM_Snippet_C/IBRoutes&Route=Vermonter" target="_blank">one train per day</a> travels this route, departing from Penn Station at 11:33 AM and arriving in Amherst at 4:20 PM.  Amtrak offers more regular service to Springfield, MA (30 minute drive to Amherst). 
    </p>
    <p>
      <a href="http://us.megabus.com/" target="_blank">Megabus</a> offers fairly regular service from Manhattan to Amherst.
    </p>
    <p>
      If you will not have a car in Amherst but want to explore the Pioneer Valley a bit, the <a href="http://www.pvta.com/" target="_blank">PVTA</a> is a reliable public bus service in the area.
    </p>
    <h5><strong>Parking</strong></h5>
    <p>Guests of the Hotel UMass can park for free at the Campus Center Parking Garage. There are also a number of <a href="http://parking.umass.edu/images/maps/mapVisitorParking.pdf" target="_blank">parking lots</a> near the Newman Center and the University Club that are free on weekends and after 5pm on weekdays.</p>
    <p>
      <a href="https://go.umass.edu/map/" target="_blank">Click here</a> for a UMass campus map.
    </p>
    <p>
      If you have any questions or would like more specific directions, please <a href="mailto:melanie.lahti@gmail.com">email us</a>.
    </p>
  </div>
</div>
