<div class="row">
  <div class="large-8 columns">
    <div class="image">
      <!-- <h1>Melanie and Scott!</h1> -->
      <%= image_tag('mountain.jpg') %>
    </div>
  </div>
  <div class="large-4 columns">
    <h3>WELCOME</h3>
    <p>We are getting married on Saturday, October 18, 2014 in Amherst, MA.</p>
  </div> 
</div>
