<div class="row">
  <div class="large-6 columns">
    <div class="image">
      <!-- <h1>Melanie and Scott!</h1> -->
      <%= image_tag('mountain.jpg') %>
    </div>
  </div>
  <div class="large-6 columns">
    <h3>WELCOME</h3>
    <p>We are getting married on Saturday, October 18, 2014 in Amherst, MA.</p>
    <h5><strong>Ceremony:</strong></h5>
    <p>
      <a href="http://newmanumass.org/">Newman Center</a> at UMass, Amherst <br>
      472 North Pleasant St. <br>
      Amherst, MA 01002
    </p>
    <p>The ceremony will begin at 2:30 PM and will last about 30 minutes.</p>
  </div>
  <div class="large-12 columns">
    
    <h5><strong>Reception:</strong></h5>
    <p>
      <a href="http://www.umasshotel.com/">Hotel UMass</a>, Marriott Center (11th Floor) <br>
      1 Campus Center Way <br>
      Amherst, MA 01003
    </p>
    <p>
      The reception will begin at 4:00 PM and we will continue to celebrate until 9:00 PM. There will be karaoke, so bring your singing voices and/or ear plugs.
    </p>
  </div> 
</div>

<!-- 
Ceremony

Newman Center at UMass, Amherst
472 North Pleasant St.
Amherst, MA 01002


Reception

Hotel UMass, Marriott Center (11th
1 Campus Center Way
Amherst, MA 01003


  -->