<div class="row">
 
  <div class="large-8 columns">
    <%= image_tag('blazer-brunch.jpg') %>
  </div>
  <div class="large-4 columns">
    <h3>In The Area</h3>
    <h4>Outdoors</h4>
    <p>
      <a href="http://www.mohawktrail.com/hiking.html" target="_blank">Mohawk Trail</a><br>
      Various towns across the Pioneer Valley and the Berkshires
    </p>
    <p>
      <a href="http://quonquont.com/" target="_blank">Quonquont Farm</a><br>
      Whately, MA
    </p>
    <p>
      <a href="http://www.mass.gov/eea/agencies/dcr/massparks/region-west/natural-bridge-state-park-generic.html" target="_blank">Natural Bridge State Park</a><br>
      North Adams, MA
    </p>
    <p>
      <a href="http://www.thetrustees.org/places-to-visit/berkshires/monument-mountain.html" target="_blank">Monument Mountain</a><br>
      Great Barrington, MA
    </p>
    <p>
      <a href="http://www.mass.gov/eea/agencies/dcr/massparks/region-west/mt-greylock-state-reservation-generic.html" target="_blank">Mt. Greylock</a><br>
      Lanesborough, MA
    </p>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
      
    <h4>Museums</h4>
    <p>
      <a href="https://www.emilydickinsonmuseum.org/" target="_blank">Emily Dickinson Museum and Homestead</a><br>
      Amherst, MA
    </p>
    <p>
      <a href="http://www.smith.edu/artmuseum/" target="_blank">Smith College Museum of Art</a><br>
      Northampton, MA
    </p>
    <p>
      <a href="https://www.carlemuseum.org/" target="_blank">Eric Carle Museum of Picture Book Art</a><br>
      Amherst, MA
    </p>
    <p>
      <a href="http://www.nrm.org/" target="_blank">Norman Rockwell Museum</a><br>
      Stockbridge, MA
    </p>
    <p>
      <a href="http://www.massmoca.org/" target="_blank">Mass MoCA</a><br>
      North Adams, MA
    </p>
    <h4>Concert Venues</h4>
    <p>
      <a href="https://fac.umass.edu/Online/" target="_blank">UMass Fine Arts Center</a><br>
      Amherst, MA
    </p>
    <p>
      <a href="http://www.iheg.com/calvin_theater_main.asp" target="_blank">Calvin Theatre</a><br>
      Northampton, MA
    </p>
    <h4>Other Attractions<br><small>(including our favorite restaurants)</small></h4>
    <p>
      <a href="http://www.historic-deerfield.org/" target="_blank">Historic Deerfield</a><br>
      South Deerfield, MA
    </p>
    <p>
      <a href="http://www.masslive.com/news/index.ssf/2013/07/whately_mass_giant_milk_bottle.html" target="_blank">Whately Milk Bottle</a><br>
      Whately, MA
    </p>
    <p>
      <a href="http://www.yankeecandle.com/about-yankee-candle/visit-our-flagship-stores/t" target="_blank">Yankee Candle Flagship Store</a> – complete with Bavarian Christmas Village <br>
      South Deerfield, MA
    </p>
    <p>
      <a href="http://www.judiesrestaurant.com/" target="_blank">Judie’s Restaurant</a> – Home of the Popover! <br>
      Amherst, MA
    </p>
    <p>
      <a href="http://www.yelp.com/biz/raos-coffee-amherst" target="_blank">Rao’s Coffee</a><br>
      Amherst, MA
    </p>
  </div>
  <div class="large-6 columns">
    <%= image_tag('thunder-xmas.jpg') %>
  </div>
</div>
